<div class="container-cust">
    <div class="container-fluid container-fluid-custom pd-md-5 mb-5">
        <main>
            <div class="row py-md-5 text-center justify-content-end">
                <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                    <h1 class="display-2 mb-4 position-relative home-title">
                        ABOUT  US
                    </h1>
                    <span><hr></span>
                    <p>
                    Welcome to Asgard MultiConcepts International!
                    </p>
                    <p>
                        At Asgard, we are a passionate team of developers and creators located in the heart of Ibadan, Oyo state, Nigeria. Our focus is on crafting innovative solutions that cater to the unique needs of our users. As a small but dedicated company, we specialize in building robust web applications, powerful desktop software, and intuitive mobile applications.
                    </p>    
                    <a href="" class="btn btn-primary btn-lg" id="workBtn">WORK</a> <br/>
                    <div class="vertical-line"></div>
                    <a href="" class="btn btn-primary btn-lg" id="serviceBtn">SERVICE</a> <br/>
                    <div class="vertical-line"></div>
                    <a href="" class="btn btn-primary btn-lg" id="contctBtn">CONTACT</a>
                </div>
            </div>
        </main>
    </div>
</div>
